<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" href="../style.css">
	</head>
	<body>

		<div class="navbar1">
			<div class="icon">
				<img src="../images/header/Untitled-2.png">
			</div>
			<div class="lang">
				<a class="active" href="#">FR</a>
			</div>

		</div>

		<div class="navbar2">
			<div class="block--width" >      
					
				<div class="menu-line" >
						<a href="#">ACCUEIL <img src="../images/icons/menuselected.png"></a>
						<a style="margin-left: 55px;" href="../pages/drmirzoyan.html">DR MIRZOYAN</a>
						<a style="margin-left: 55px;" href="#">PHOTO / VIDEO</a>
						<a style="margin-left: 55px;" href="#">PRIX</a>
						<a style="margin-left: 55px;" href="#">NOUVELLES</a>
						<a style="margin-left: 55px;" href="#">CONTACTS</a>
				</div>

			</div>
		
		</div>

		<div class="main" >

			<div class="menu-items-block">
				<div class="clearfix block-max-width">
					<div class="by-item cat1">
						<div class="title"><a href="www.paris-esthetics.com/fr/VISAGE">VISAGE</a></div>
	
						<ul>
							<li><a href="www.paris-esthetics.com/fr/Rhinoplastie">Rhinoplastie</a></li>
							<li><a href="www.paris-esthetics.com/fr/Lifting_facial">Lifting facial</a></li>
							<li><a href="www.paris-esthetics.com/fr/Blepharoplastie">Blepharoplastie</a></li>
							<li><a href="www.paris-esthetics.com/fr/Otoplastie">Otoplastie</a></li>
							<li><a href="www.paris-esthetics.com/fr/Génioplastie">Génioplastie</a></li>
							<li><a href="www.paris-esthetics.com/fr/Greffe_de_cheveux_0">Greffe de cheveux</a></li>
						</ul>
					</div>
					<div class="by-item cat2">
						<div class="title"><a href="www.paris-esthetics.com/fr/SEIN">SEIN</a></div>
	
						<ul>
							<li><a href="www.paris-esthetics.com/fr/Augmentation_mammaire">Augmentation mammaire</a></li>
							<li><a href="www.paris-esthetics.com/fr/Mastopexie">Mastopexie</a></li>
							<li><a href="www.paris-esthetics.com/fr/Réduction_mammaire">Réduction mammaire</a></li>
							<li><a href="www.paris-esthetics.com/fr/Asymétrie_mammaire">Asymétrie mammaire</a></li>
							<li><a href="www.paris-esthetics.com/fr/Gynecomastie">Gynecomastie</a></li>
						</ul>
					</div>
					<div class="by-item cat3">
						<div class="title"><a href="www.paris-esthetics.com/fr/CORPS">CORPS</a></div>
	
						<ul>
							<li><a href="www.paris-esthetics.com/fr/Lipoaspiration">Lipoaspiration</a></li>
							<li><a href="www.paris-esthetics.com/fr/Abdominoplastie">Abdominoplastie</a></li>
							<li><a href="www.paris-esthetics.com/fr/Cruroplastie">Cruroplastie</a></li>
							<li><a href="www.paris-esthetics.com/fr/Brachioplastie_lifting_des_bras">Brachioplastie : lifting des bras</a></li>
							<li><a href="www.paris-esthetics.com/fr/Plastie_des_mollets">Plastie des mollets</a></li>
							<li><a href="www.paris-esthetics.com/fr/Plastie_des_fesses">Plastie des fesses</a></li>
							<li><a href="www.paris-esthetics.com/fr/Bodylifting">Bodylifting</a></li>
							<li><a href="www.paris-esthetics.com/fr/Plastie_des_cicatrices">Plastie des cicatrices</a></li>
						</ul>
					</div>
					<div class="by-item cat4">
						<div class="title"><a href="www.paris-esthetics.com/fr/Esthétique_Chirurgie_Intime">Esthétique/Chirurgie Intime</a></div>
	
						<ul>
							<li><a href="www.paris-esthetics.com/fr/Injection_de_toxine_botulique">Injection de toxine botulique</a></li>
							<li><a href="www.paris-esthetics.com/fr/Acide_Hyaluronique">Acide Hyaluronique</a></li>
							<li><a href="www.paris-esthetics.com/fr/Nymphoplastie">Nymphoplastie</a></li>
							<li><a href="www.paris-esthetics.com/fr/Lipofilling">Lipofilling</a></li>
							<li><a href="www.paris-esthetics.com/fr/Transsexualisme_homme_femme">Transsexualisme homme-femme</a></li>
						</ul>
					</div>
				</div>
			</div>


			<section id="all" class="block-max-width clearfix" >





				

				<div class="clearfix">
					<div class="clearfix bordered-title">
							<div class="bordered-title-inner">Localisation</div>
							<div class="title-border"></div>
					</div>

					<div class="clearfix map-block">
							<div class="col-lg-9 col-md-9 no-padding-left">
									
									<script src="https://web.archive.org/web/20190213064448js_/http://maps.google.com/maps/api/js?sensor=false"></script>
	
											<script type="text/javascript">
	
													function initializemap_canvas(country, Lat, Lng) {
															var myLatlng = new google.maps.LatLng(Lat, Lng);
	
															var myOptions = {
																	zoom: 16,
																	center: myLatlng,
																	mapTypeId: google.maps.MapTypeId.ROADMAP
															}
	
															var map = new google.maps.Map(document.getElementById('map_canvas_'+country), myOptions);
	
															var marker = new google.maps.Marker({
																	position: myLatlng,
																	map: map,
																	icon: '/img/icons/gmap.png',
																	animation: google.maps.Animation.DROP,
																	title: 'Doctor'
															});
													}
	
													jQuery(document).ready(function(){
															
															initializemap_canvas('paris', , );
															initializemap_canvas('moscow', , );
															
													});
	
											</script>
								
									<div id="map_canvas_paris" style="width: 100%; height: 250px;position:relative"></div>
							</div>
							<div class="col-lg-3 col-md-3 location-info">
									<div class="title clearfix">
											Consultation à <span></span>
									</div>
									<div class="clearfix info">
											<a class="map">3 rue Sainte Marthe 75010 Paris</a>
											<a class="tel">+ 33 1 86 95 24 04</a>
											<a class="skype" href="https://web.archive.org/web/20190213064448/skype:borism777?call"> Skype</a>
									</div>
							</div>
					</div>

					<div class="clearfix map-block">
							<div class="col-lg-9 col-md-9 no-padding-left">
									<div id="map_canvas_moscow" style="width: 100%; height: 250px;position:relative"></div>
							</div>
							<div class="col-lg-3 col-md-3 location-info">
									<div class="title clearfix">
											Consultation à <span></span>
									</div>
									<div class="clearfix info">
											<a class="map"></a>
											<a class="tel"></a>
											<a class="skype" href="https://web.archive.org/web/20190213064448/skype:borism777?call"> Skype</a>
									</div>
							</div>
					</div>

				</div>



				<div class="contact-form clearfix">
					<div class="clearfix bordered-title">
							<div class="bordered-title-inner">Contactez-nous</div>
							<div class="title-border"></div>
					</div>
					
							<script type="text/javascript">
									$(document).ready(function() {
											$('#contact_form').bootstrapValidator(function(){
												return false;
											});
									});
							</script>
					
					<form class="clearfix bv-form" action="/web/20190213064448/https://www.paris-esthetics.com/fr/contacts" method="POST" enctype="multipart/form-data" id="contact_form" novalidate="novalidate"><button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
							<div class="form-description">Je m'engage à vous répondre au plus vite</div>
							<div class="form-group clearfix">
									<input type="text" id="name" name="name" class="form-input" placeholder="Votre NOM" value="" data-bv-notempty="true" data-bv-notempty-message="" data-bv-field="name">
							<small style="display: none;" class="help-block" data-bv-validator="notEmpty" data-bv-for="name" data-bv-result="NOT_VALIDATED">Please enter a value</small></div>
							<div class="form-group clearfix">
									<input type="email" id="email" name="email" class="form-input" placeholder="E-Mail" value="" data-bv-notempty="true" data-bv-notempty-message="" data-bv-field="email">
							<small style="display: none;" class="help-block" data-bv-validator="emailAddress" data-bv-for="email" data-bv-result="NOT_VALIDATED">Please enter a valid email address</small><small style="display: none;" class="help-block" data-bv-validator="notEmpty" data-bv-for="email" data-bv-result="NOT_VALIDATED">Please enter a value</small></div>
							<div class="form-group clearfix">
									<input type="text" id="phone" name="phone" class="form-input" placeholder="Téléphone" value="">
							</div>
							<div class="form-group clearfix">
									<input type="text" id="subject" name="subject" class="form-input" placeholder="Objet" value="" data-bv-notempty="true" data-bv-notempty-message="" data-bv-field="subject">
							<small style="display: none;" class="help-block" data-bv-validator="notEmpty" data-bv-for="subject" data-bv-result="NOT_VALIDATED">Please enter a value</small></div>
							<div class="form-group clearfix">
									<textarea class="form-input" id="message" name="message" placeholder="Poser votre question" data-bv-notempty="true" data-bv-notempty-message="" data-bv-field="message"></textarea>
							<small style="display: none;" class="help-block" data-bv-validator="notEmpty" data-bv-for="message" data-bv-result="NOT_VALIDATED">Please enter a value</small></div>
							<div class="clearfix">
									<!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 no-padding">
											<div class="form-group image-upload clearfix">
													<label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label no-padding" for="questionFileButton">Joindre une photo</label>
													<div class="col-sm-8 col-xs-8 no-padding">
															<button class="btn btn-default" id="questionFileButton">TÉLÉCHARGER</button>
															<input type="file" name="attachment" class="hidden" id="questionFile">
													</div>
											</div>
									</div>-->
																	<div class="col-lg-12 col-md-2 col-sm-12 col-xs-12 no-padding">
											<button class="btn blue-button pull-right" type="submit" name="send">ENVOYER</button>
									</div>
							</div>
					</form>
				</div>


			</section>


		</div>



	</body>

</html>






