<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>

    <div class="navbar1">
        <div class="icon">
            <img src="../images/header/Untitled-2.png">
        </div>
        <div class="lang">
            <a class="active" href="#">FR</a>
        </div>

    </div>

    <div class="navbar2">
        <div class="block--width" >      
                
            <div class="menu-line" >
                    <a href="#">ACCUEIL <img src="../images/icons/menuselected.png"></a>
                    <a style="margin-left: 55px;" href="../pages/drmirzoyan.html">DR MIRZOYAN</a>
                    <a style="margin-left: 55px;" href="#">PHOTO / VIDEO</a>
                    <a style="margin-left: 55px;" href="#">PRIX</a>
                    <a style="margin-left: 55px;" href="#">NOUVELLES</a>
                    <a style="margin-left: 55px;" href="#">CONTACTS</a>
            </div>

        </div>
    
    </div>


    
    <div class="main" >


        <div class="menu-items-block">
            <div class="clearfix block-max-width">
                <div class="by-item cat1">
                    <div class="title"><a href="www.paris-esthetics.com/fr/VISAGE">VISAGE</a></div>

                    <ul>
                        <li><a href="www.paris-esthetics.com/fr/Rhinoplastie">Rhinoplastie</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Lifting_facial">Lifting facial</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Blepharoplastie">Blepharoplastie</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Otoplastie">Otoplastie</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Génioplastie">Génioplastie</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Greffe_de_cheveux_0">Greffe de cheveux</a></li>
                    </ul>
                </div>
                <div class="by-item cat2">
                    <div class="title"><a href="www.paris-esthetics.com/fr/SEIN">SEIN</a></div>

                    <ul>
                        <li><a href="www.paris-esthetics.com/fr/Augmentation_mammaire">Augmentation mammaire</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Mastopexie">Mastopexie</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Réduction_mammaire">Réduction mammaire</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Asymétrie_mammaire">Asymétrie mammaire</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Gynecomastie">Gynecomastie</a></li>
                    </ul>
                </div>
                <div class="by-item cat3">
                    <div class="title"><a href="www.paris-esthetics.com/fr/CORPS">CORPS</a></div>

                    <ul>
                        <li><a href="www.paris-esthetics.com/fr/Lipoaspiration">Lipoaspiration</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Abdominoplastie">Abdominoplastie</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Cruroplastie">Cruroplastie</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Brachioplastie_lifting_des_bras">Brachioplastie : lifting des bras</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Plastie_des_mollets">Plastie des mollets</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Plastie_des_fesses">Plastie des fesses</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Bodylifting">Bodylifting</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Plastie_des_cicatrices">Plastie des cicatrices</a></li>
                    </ul>
                </div>
                <div class="by-item cat4">
                    <div class="title"><a href="www.paris-esthetics.com/fr/Esthétique_Chirurgie_Intime">Esthétique/Chirurgie Intime</a></div>

                    <ul>
                        <li><a href="www.paris-esthetics.com/fr/Injection_de_toxine_botulique">Injection de toxine botulique</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Acide_Hyaluronique">Acide Hyaluronique</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Nymphoplastie">Nymphoplastie</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Lipofilling">Lipofilling</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Transsexualisme_homme_femme">Transsexualisme homme-femme</a></li>
                    </ul>
                </div>
            </div>
        </div>
		






		
        
        <section id="all" class="block-max-width clearfix">
            
            <div class="col-lg-8 col-md-8 content-block" style="margin-bottom: auto;" >
                    <!--main content BEGIN--><div class="clearfix bordered-title">
<div class="bordered-title-inner">DR MIRZOYAN</div>
<div class="title-border"></div>
</div>
<div class="content-box clearfix">
<div class="content-txt"><p><strong>CURRICULUM VITAE</strong><br><img src="../images/Boris_Mirzoyan_2.jpg" width="350" height="440" style="float: right;"></p>
<p>- Qualifié chirurgien plasticien par le Conseil National de l’Ordre des Médecins N° 75/83102</p>
<p><br>&nbsp;07.2015 à ce jour Chirurgien plasticien remplacent à la Clinique Pierre Cherest à Neuilly sur Sein et à la Polyclinque Mantaise.&nbsp;</p>
<p>03.2012-03.2015 Assistant spécialiste à temps plein. Service de Chirurgie <br>Plastique, Reconstructrice et Esthétique du Pr REVOL. CHU Saint Louis. Paris. (4 vacations opératoires par semaine, 900 opérations autonome)</p>
<p>&nbsp;10.2010-03.2011 &nbsp;Interne d’ORL et chirurgie cervico-faciale. CHU de Genève. Suisse</p>
<p>04.2009-09.2010 &nbsp; Interne. Chirurgie générale et orthopédique. Nyon. Suisse</p>
<p>11.2007-10.2008 &nbsp;Interne (FFI). Chirurgie plastique, reconstructrice et maxillo-faciale; Professeur WILK. CHU Strasbourg</p>
<p>11.2006-10.2007 &nbsp;Interne (FFI). Chirurgie plastique, reconstructrice et esthétique.&nbsp;Professeur SERVANT. CHU Saint Louis. Paris</p>
<p>10.2005-07.2006 &nbsp;Résident en chirurgie plastique. Hôpital de l’Ouest Parisien.</p>
<p>05.2004-05.2005 &nbsp;Résident en chirurgie plastique. Clinique Saint Géneviève. Paris</p>
<p>11.2003-04.2004 &nbsp;Interne (FFI). Chirurgie urologique. Hôpital des Diaconesses. Paris</p>
<p>11.2002-05.2003 &nbsp;Interne (FFI). Chirurgie urologique. Hôpital Saint Joseph. Lyon</p>
<p>EXAMENS</p>
<p>&nbsp;2008 &nbsp;Examen du Collège Français de Chirurgie Plastique Reconstructrice et&nbsp;Esthétique. Major de la promotion 2008 à titre étranger. Paris. France.</p>
<p>2009 &nbsp; Procédure d’Autorisation d’Exercice (PAE) autorisant les fonctions de chef de clinique et d’assistant en France). Ministère de la Santé. Paris.</p>
<p>2009 &nbsp;Examen fédéral de Chirurgie Générale de Base. Lausanne. Suisse</p>
<p>2009 &nbsp;Équivalence de Diplôme en Médecine par le Ministère Espagnol de&nbsp;l’Education Nationale. Madrid. Espagne</p>
<p>DIPLOMES UNIVERSITAIRES</p>
<p>2009-2010&nbsp;DU de pathologie médico-chirurgicale du cuir chevelu. Faculté Paris 6</p>
<p>2008-2009&nbsp;DU de Pathologie médico-chirurgicale de la Main. Faculté Paris 6</p>
<p>2006-2008&nbsp;Attestation de Formation Spécialisée en Chirurgie Plastique. Paris 7</p>
<p>2007-2008&nbsp;DU d’Anatomie Chirurgicale de la Tête et du Cou. Faculté Paris 5</p>
<p>2006-2007&nbsp;DU d’Anatomie Appliquée à la Chirurgie Plastique. Faculté Paris 5</p>
<p>2006-2007&nbsp;DU de Microchirurgie et de Chirurgie Expérimentale. Faculté Paris 7</p>
<p>2005-2006&nbsp;DU de chirurgie réparatrice en situation précaire. Faculté Paris 6</p>
<p></p>
<p><img src="../images/certificates_img/101462216623 (1).jpeg" width="900" height="655">
    <img src="../images/certificates_img/101462216623.jpeg" width="1000" height="710">
    <img src="../images/certificates_img/111462216700 (1).jpeg" width="900" height="639">
    <img src="../images/certificates_img/121462217101 (1).jpeg" width="900" height="639">
    <img src="../images/certificates_img/151462217271 (1).jpeg" width="900" height="639">
    <img src="../images/certificates_img/151462217271 (1).jpeg" width="900" height="639">
    <img src="../images/certificates_img/151462217271 (1).jpeg" width="900" height="639">
    <img src="../images/certificates_img/151462217271 (1).jpeg" width="600" height="845"><br>
    <!-- <img src="/web/20190213050250im_/https://www.paris-esthetics.com/img/15.jpg" width="725" height="1024"> -->
    <br><br><br></p></div>
</div><!--main content END-->
            </div>


			
            <div class=" side-block">
                <!--right ask_question BEGIN-->
                <div class="ask-question clearfix hidden-sm">

                    <div class="clearfix bordered-title">
                        <div class="bordered-title-inner">QUESTION</div>
                        <div class="title-border"></div>
                    </div>

                    <div class="clearfix">
                                
                        <div class="confidential clearfix">Cette information est confidentielle</div>

                        <form action="www.paris-esthetics.com/fr/ACCUEIL_0" method="post" 
                            enctype="multipart/form-data" id="contact_form" novalidate="novalidate" class="bv-form">

                            <button type="submit" class="bv-hidden-submit"></button>

                            <div class="form-group">
                                <input type="text" name="name" placeholder="Votre NOM" class="form-control" value="" data-bv-notempty="true" data-bv-notempty-message="" data-bv-field="name">
                                <small class="help-block" data-bv-validator="notEmpty" data-bv-for="name" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value
                                </small>
                            </div>
                            
                            <div class="form-group">
                                <input type="text" name="email" placeholder="E-Mail" class="form-control" value="" data-bv-notempty="true" data-bv-notempty-message="" data-bv-field="email">
                                <small class="help-block" data-bv-validator="notEmpty" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small>
                            </div>
                            
                            <div class="form-group">
                                <input type="text" name="phone" placeholder="Téléphone" class="form-control" value="" data-bv-notempty="true" data-bv-notempty-message="" data-bv-field="phone">
                                <small class="help-block" data-bv-validator="notEmpty" data-bv-for="phone" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small>
                            </div>
                            
                            <div class="form-group">
                                <textarea name="message" placeholder="Poser votre question" class="form-control" data-bv-notempty="true" data-bv-notempty-message="" data-bv-field="message"></textarea>
                                <small class="help-block" data-bv-validator="notEmpty" data-bv-for="message" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small>
                            </div>
                            
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="subscribe" value="1"> Abonnez-vous à la Newsletter
                                </label>
                            </div>

                            <!-- <div class="form-group clearfix upload-block">
                                <label class="col-lg-5 col-md-5 col-sm-5 control-label no-padding" for="questionFileButton">Joindre une photo</label>
                                <div class="col-lg-7 col-md-7 col-sm-7 no-padding-right">
                                    <button class="btn" id="questionFileButton">TÉLÉCHARGER</button>
                                    <input type="file" class="hidden" id="questionFile" name="attachment">
                                </div>
                            </div> -->

                            <div class="clearfix">
                                <button class="blue-button " type="submit" name="send">ENVOYER</button>
                            </div>

                        </form>

                    </div>

                </div>
                <!--right ask_question END-->
                <!--right right BEGIN-->
                <div class="plastic-surgery clearfix">

                    <div class="clearfix bordered-title">
                        <div class="bordered-title-inner">Plastic Surgery</div>
                        <div class="title-border"></div>
                    </div>

                    <div class="clearfix">
                        
                        <div class="no-padding col-lg-12">
                            <a href="../images/31434280459.png" class="by-surgery clearfix cat1">
                                <div class="surgery-bg" style="background:url('../images/31434280459.png') no-repeat right top"></div>
                                <p class="big-title"></p>
                                <p class="small-title"></p>
                            </a>
                        </div>

                        <div class="no-padding col-lg-12">
                            <a href="www.paris-esthetics.com/fr/Chirurgie_du_regard" class="by-surgery clearfix cat1">
                                <div class="surgery-bg" style="background:url('../images/41434280481.png') no-repeat right top"></div>
                                <p class="big-title"></p>
                                <p class="small-title"></p>
                            </a>
                        </div>

                        <div class="no-padding col-lg-12">
                            <a href="www.paris-esthetics.com/fr/Chirurgie_plastique_de_l_homme" class="by-surgery clearfix cat1">
                                <div class="surgery-bg" style="background:url('../images/51434280499.png') no-repeat right top"></div>
                                <p class="big-title"></p>
                                <p class="small-title"></p>
                            </a>
                        </div>

                        <div class="no-padding col-lg-12">
                            <a href="www.paris-esthetics.com/fr/Chirurgie_après_amaigrissement" class="by-surgery clearfix cat1">
                                <div class="surgery-bg" style="background:url('../images/61434280516.png') no-repeat right top"></div>
                                <p class="big-title"></p>
                                <p class="small-title"></p>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="clearfix hidden-lg hidden-md consultation-buttons">
                    <div class= col-xs-12 no-padding-left">
                        <a href="www.paris-esthetics.com/fr/Consultation_à_Moscou">
                            Consultation à <span></span>
                        </a>
                    </div>
                    <div class= col-xs-12 no-padding">
                        <a href="www.paris-esthetics.com/fr/Consultation_Paris">
                            Consultation à <span></span>
                        </a>
                    </div>
                    <div class= col-xs-12 no-padding-right">
                        <a href="https://web.archive.org/web/20190213061540/skype:borism777?call">
                            <span>Skype</span>
                        </a>
                    </div>
                </div>

                <!--right right END-->
            </div>
       

        </section>

    </div>













    <div class="footer1" >
  

        <div class="footer" >

              <div class="NAVIGATION" >
                  <div class="nav_block" >
                    <a href="#">NAVIGATION</a>
                  </div>
                  <div class="col1">
                      <div>
                        <a href="www.paris-esthetics.com/fr/ACCUEIL_0" class="active">ACCUEIL</a>
                        <a href="www.paris-esthetics.com/fr/DR_MIRZOYAN">DR MIRZOYAN</a>
                        <a href="www.paris-esthetics.com/fr/PHOTO_VIDEO">PHOTO / VIDEO</a>
                        <a href="www.paris-esthetics.com/fr/PRIX">PRIX</a>
                        <a href="www.paris-esthetics.com/fr/NOUVELLES">NOUVELLES</a>
                        <a href="www.paris-esthetics.com/fr/contacts">Contacts</a>
                      </div>

                      <div>
                        <a href="www.paris-esthetics.com/fr/VISAGE">VISAGE</a>
                        <a href="www.paris-esthetics.com/fr/SEIN">SEIN</a>
                        <a href="www.paris-esthetics.com/fr/CORPS">CORPS</a>
                        <a href="www.paris-esthetics.com/fr/Esthétique_Chirurgie_Intime">Esthétique/Chirurgie Intime</a>
                      </div>

                      <div>
                        <a href="www.paris-esthetics.com/fr/Lipoaspiration">Lipoaspiration</a>
                        <a href="www.paris-esthetics.com/fr/Abdominoplastie">Abdominoplastie</a>
                      </div>
                  </div>
              </div>

              <div class="NAVIGATION wdt1 " >
                <div class="nav_block" >
                  <a href="#">CONTACTS</a>
                </div>
                <div class="contacts col2 wdt1">
                    <div>
                      <a href="www.paris-esthetics.com/fr/contacts" class="map">
                        3 rue Sainte Marthe 75010 Paris<br>
                        
                    </a>
                    <a href="www.paris-esthetics.com/fr/contacts" class="tel">
                        + 33 1 86 95 24 04<br>
                        
                    </a>
                    <a href="https://web.archive.org/web/20190213061540/mailto:info@paris-esthetics.com" class="email">
                        info@paris-esthetics.com
                    </a>
                    <a href="https://web.archive.org/web/20190213061540/skype:borism777?call" class="skype">
                        borism777
                    </a>
                    </div>
                    
                    
                </div>
                
            </div>
            
            <div class="socials1" >
                <div class="clearfix text-center footer-logo">
                <a href="www.paris-esthetics.com/fr/ACCUEIL_0">
                    <img src="images/icons/logo.png">
                </a>
                <div class="doc-name">Dr Boris Mirzoyan</div>
                <div class="logo-description">Chirurgie Plastique, Reconstructrice et Esthetique</div>
                </div>

                <div id="socials" class="socials">
                <a href="" class="fb"></a>
                <a href="" class="tw"></a>
                <a href="https://web.archive.orgvk.com/id309972740" class="vk"></a>
                <a href="" class="in"></a>
                </div>
            </div>

        </div>

    </div>

</body>
</html>