<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../style1.css">
    <link rel="stylesheet" href="../photo.css">


</head>
	<body>

		<div class="navbar1">
			<div class="icon">
				<img src="../images/header/Untitled-2.png">
			</div>
			<div class="lang">
				<a class="active" href="#">FR</a>
			</div>

		</div>

		<div class="navbar2">
			<div class="block--width" >      
					
				<div class="menu-line" >
						<a href="#">ACCUEIL <img src="../images/icons/menuselected.png"></a>
						<a style="margin-left: 55px;" href="../pages/drmirzoyan.html">DR MIRZOYAN</a>
						<a style="margin-left: 55px;" href="#">PHOTO / VIDEO</a>
						<a style="margin-left: 55px;" href="#">PRIX</a>
						<a style="margin-left: 55px;" href="#">NOUVELLES</a>
						<a style="margin-left: 55px;" href="#">CONTACTS</a>
				</div>

			</div>
		
		</div>

		<div class="menu-items-block">
            <div class="clearfix block-max-width">
                <div class="by-item cat1">
                    <div class="title"><a href="www.paris-esthetics.com/fr/VISAGE">VISAGE</a></div>

                    <ul>
                        <li><a href="www.paris-esthetics.com/fr/Rhinoplastie">Rhinoplastie</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Lifting_facial">Lifting facial</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Blepharoplastie">Blepharoplastie</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Otoplastie">Otoplastie</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Génioplastie">Génioplastie</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Greffe_de_cheveux_0">Greffe de cheveux</a></li>
                    </ul>
                </div>
                <div class="by-item cat2">
                    <div class="title"><a href="www.paris-esthetics.com/fr/SEIN">SEIN</a></div>

                    <ul>
                        <li><a href="www.paris-esthetics.com/fr/Augmentation_mammaire">Augmentation mammaire</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Mastopexie">Mastopexie</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Réduction_mammaire">Réduction mammaire</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Asymétrie_mammaire">Asymétrie mammaire</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Gynecomastie">Gynecomastie</a></li>
                    </ul>
                </div>
                <div class="by-item cat3">
                    <div class="title"><a href="www.paris-esthetics.com/fr/CORPS">CORPS</a></div>

                    <ul>
                        <li><a href="www.paris-esthetics.com/fr/Lipoaspiration">Lipoaspiration</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Abdominoplastie">Abdominoplastie</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Cruroplastie">Cruroplastie</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Brachioplastie_lifting_des_bras">Brachioplastie : lifting des bras</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Plastie_des_mollets">Plastie des mollets</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Plastie_des_fesses">Plastie des fesses</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Bodylifting">Bodylifting</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Plastie_des_cicatrices">Plastie des cicatrices</a></li>
                    </ul>
                </div>
                <div class="by-item cat4">
                    <div class="title"><a href="www.paris-esthetics.com/fr/Esthétique_Chirurgie_Intime">Esthétique/Chirurgie Intime</a></div>

                    <ul>
                        <li><a href="www.paris-esthetics.com/fr/Injection_de_toxine_botulique">Injection de toxine botulique</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Acide_Hyaluronique">Acide Hyaluronique</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Nymphoplastie">Nymphoplastie</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Lipofilling">Lipofilling</a></li>
                        <li><a href="www.paris-esthetics.com/fr/Transsexualisme_homme_femme">Transsexualisme homme-femme</a></li>
                    </ul>
                </div>
            </div>
        </div>  

		
		<section id="all" class="block-max-width clearfix">


			<div class="clearfix home-last-news" style="margin-bottom: auto;" >

				<div class="clearfix bordered-title">
					<div class="bordered-title-inner">LES NOUVELLES</div>
					<div class="title-border"></div>
				</div>

				<div class="clearfix">
					<div class="clearfix by-news">

							<div class="no-padding">
								<a href="www.paris-esthetics.com/fr/news/news10">
									<img src="images/121476988669.jpeg" class="img-responsive" alt="." title=".">
								</a>
							</div>

							<div class="col-lg-8 ">
								<div class="news-title"><a class="news-title" href="www.paris-esthetics.com/fr/news/news10">.</a></div>
								<div class="news-divider"><!--&ndash; or &mndash; --></div>
								<div class="news-description">
									.<br><br>
								</div>
							</div>
					</div>

					<div class="clearfix by-news">
							<div class="no-padding">
								<a href="www.paris-esthetics.com/fr/news/News 9">
									<img src="images/91448963367.jpeg" class="img-responsive" alt="." title=".">
								</a>
							</div>
							<div class="col-lg-8 ">
								<div class="news-title"><a class="news-title" href="www.paris-esthetics.com/fr/news/News 9">.</a></div>
								<div class="news-divider"><!--&ndash; or &mndash; --></div>
								<div class="news-description">
									.
								</div>
							</div>
					</div>

					<div class="clearfix by-news">
							<div class="no-padding">
								<a href="www.paris-esthetics.com/fr/news/News 11">
									<img src="images/111462282751.jpeg" class="img-responsive" alt="Lifting cervico-facial" title="Lifting cervico-facial">
								</a>
							</div>
							<div class="col-lg-8 ">
								<div class="news-title"><a class="news-title" href="www.paris-esthetics.com/fr/news/News 11">Lifting cervico-facial</a></div>
								<div class="news-divider"><!--&ndash; or &mndash; --></div>
								<div class="news-description">
									<span>Le lifting cervico-facial peut être fait dès que les signes de vieillissement apparaissent (relâchement des joues, du cou, dégradation des lignes du visage). Cette intervention peut être associée à un autre geste de chirurgie esthétique faciale : chirurgie esthétique des paupières (blépharoplastie), correction de l’affaissement de la partie latérale du sourcil et correction de la patte d’oie (lifting temporal), correction de l’affaissement et des rides du front (lifting frontal conventionnel ou endoscopique).</span>
								</div>
							</div>
					</div>
				</div>

				<div class="clearfix">
					<a href="www.paris-esthetics.com/fr/NOUVELLES" class="blue-button">LIRE</a>
				</div>
			</div>


			<div class=" side-block">
                <!--right ask_question BEGIN-->
                <div class="ask-question clearfix hidden-sm">

                    <div class="clearfix bordered-title">
                        <div class="bordered-title-inner">QUESTION</div>
                        <div class="title-border"></div>
                    </div>

                    <div class="clearfix">
                                
                        <div class="confidential clearfix">Cette information est confidentielle</div>

                        <form action="www.paris-esthetics.com/fr/ACCUEIL_0" method="post" 
                            enctype="multipart/form-data" id="contact_form" novalidate="novalidate" class="bv-form">

                            <button type="submit" class="bv-hidden-submit"></button>

                            <div class="form-group">
                                <input type="text" name="name" placeholder="Votre NOM" class="form-control" value="" data-bv-notempty="true" data-bv-notempty-message="" data-bv-field="name">
                                <small class="help-block" data-bv-validator="notEmpty" data-bv-for="name" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value
                                </small>
                            </div>
                            
                            <div class="form-group">
                                <input type="text" name="email" placeholder="E-Mail" class="form-control" value="" data-bv-notempty="true" data-bv-notempty-message="" data-bv-field="email">
                                <small class="help-block" data-bv-validator="notEmpty" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small>
                            </div>
                            
                            <div class="form-group">
                                <input type="text" name="phone" placeholder="Téléphone" class="form-control" value="" data-bv-notempty="true" data-bv-notempty-message="" data-bv-field="phone">
                                <small class="help-block" data-bv-validator="notEmpty" data-bv-for="phone" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small>
                            </div>
                            
                            <div class="form-group">
                                <textarea name="message" placeholder="Poser votre question" class="form-control" data-bv-notempty="true" data-bv-notempty-message="" data-bv-field="message"></textarea>
                                <small class="help-block" data-bv-validator="notEmpty" data-bv-for="message" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small>
                            </div>
                            
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="subscribe" value="1"> Abonnez-vous à la Newsletter
                                </label>
                            </div>

                            <!-- <div class="form-group clearfix upload-block">
                                <label class="col-lg-5 col-md-5 col-sm-5 control-label no-padding" for="questionFileButton">Joindre une photo</label>
                                <div class="col-lg-7 col-md-7 col-sm-7 no-padding-right">
                                    <button class="btn" id="questionFileButton">TÉLÉCHARGER</button>
                                    <input type="file" class="hidden" id="questionFile" name="attachment">
                                </div>
                            </div> -->

                            <div class="clearfix">
                                <button class="blue-button " type="submit" name="send">ENVOYER</button>
                            </div>

                        </form>

                    </div>

                </div>
                <!--right ask_question END-->
                <!--right right BEGIN-->
                <div class="plastic-surgery clearfix">

                    <div class="clearfix bordered-title">
                        <div class="bordered-title-inner">Plastic Surgery</div>
                        <div class="title-border"></div>
                    </div>

                    <div class="clearfix">
                        
                        <div class="no-padding col-lg-12">
                            <a href="../images/31434280459.png" class="by-surgery clearfix cat1">
                                <div class="surgery-bg" style="background:url('../images/31434280459.png') no-repeat right top"></div>
                                <p class="big-title"></p>
                                <p class="small-title"></p>
                            </a>
                        </div>

                        <div class="no-padding col-lg-12">
                            <a href="www.paris-esthetics.com/fr/Chirurgie_du_regard" class="by-surgery clearfix cat1">
                                <div class="surgery-bg" style="background:url('../images/41434280481.png') no-repeat right top"></div>
                                <p class="big-title"></p>
                                <p class="small-title"></p>
                            </a>
                        </div>

                        <div class="no-padding col-lg-12">
                            <a href="www.paris-esthetics.com/fr/Chirurgie_plastique_de_l_homme" class="by-surgery clearfix cat1">
                                <div class="surgery-bg" style="background:url('../images/51434280499.png') no-repeat right top"></div>
                                <p class="big-title"></p>
                                <p class="small-title"></p>
                            </a>
                        </div>

                        <div class="no-padding col-lg-12">
                            <a href="www.paris-esthetics.com/fr/Chirurgie_après_amaigrissement" class="by-surgery clearfix cat1">
                                <div class="surgery-bg" style="background:url('../images/61434280516.png') no-repeat right top"></div>
                                <p class="big-title"></p>
                                <p class="small-title"></p>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="clearfix hidden-lg hidden-md consultation-buttons">
                    <div class= col-xs-12 no-padding-left">
                        <a href="www.paris-esthetics.com/fr/Consultation_à_Moscou">
                            Consultation à <span></span>
                        </a>
                    </div>
                    <div class= col-xs-12 no-padding">
                        <a href="www.paris-esthetics.com/fr/Consultation_Paris">
                            Consultation à <span></span>
                        </a>
                    </div>
                    <div class= col-xs-12 no-padding-right">
                        <a href="https://web.archive.org/web/20190213061540/skype:borism777?call">
                            <span>Skype</span>
                        </a>
                    </div>
                </div>

                <!--right right END-->
            </div>
       
		</section>
	</body>
</html>