<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../style1.css">
    <link rel="stylesheet" href="../photo.css">


</head>
	<body>

		<div class="navbar1">
			<div class="icon">
				<img src="../images/header/Untitled-2.png">
			</div>
			<div class="lang">
				<a class="active" href="#">FR</a>
			</div>

		</div>

		<div class="navbar2">
			<div class="block--width" >      
					
				<div class="menu-line" >
						<a href="#">ACCUEIL <img src="../images/icons/menuselected.png"></a>
						<a style="margin-left: 55px;" href="../pages/drmirzoyan.html">DR MIRZOYAN</a>
						<a style="margin-left: 55px;" href="#">PHOTO / VIDEO</a>
						<a style="margin-left: 55px;" href="#">PRIX</a>
						<a style="margin-left: 55px;" href="#">NOUVELLES</a>
						<a style="margin-left: 55px;" href="#">CONTACTS</a>
				</div>

			</div>
		
		</div>

		<div class="main">

			<div class="menu-items-block">
				<div class="clearfix block-max-width">
					<div class="by-item cat1">
						<div class="title"><a href="www.paris-esthetics.com/fr/VISAGE">VISAGE</a></div>

						<ul>
							<li><a href="www.paris-esthetics.com/fr/Rhinoplastie">Rhinoplastie</a></li>
							<li><a href="www.paris-esthetics.com/fr/Lifting_facial">Lifting facial</a></li>
							<li><a href="www.paris-esthetics.com/fr/Blepharoplastie">Blepharoplastie</a></li>
							<li><a href="www.paris-esthetics.com/fr/Otoplastie">Otoplastie</a></li>
							<li><a href="www.paris-esthetics.com/fr/Génioplastie">Génioplastie</a></li>
							<li><a href="www.paris-esthetics.com/fr/Greffe_de_cheveux_0">Greffe de cheveux</a></li>
						</ul>
					</div>
					<div class="by-item cat2">
						<div class="title"><a href="www.paris-esthetics.com/fr/SEIN">SEIN</a></div>

						<ul>
							<li><a href="www.paris-esthetics.com/fr/Augmentation_mammaire">Augmentation mammaire</a></li>
							<li><a href="www.paris-esthetics.com/fr/Mastopexie">Mastopexie</a></li>
							<li><a href="www.paris-esthetics.com/fr/Réduction_mammaire">Réduction mammaire</a></li>
							<li><a href="www.paris-esthetics.com/fr/Asymétrie_mammaire">Asymétrie mammaire</a></li>
							<li><a href="www.paris-esthetics.com/fr/Gynecomastie">Gynecomastie</a></li>
						</ul>
					</div>
					<div class="by-item cat3">
						<div class="title"><a href="www.paris-esthetics.com/fr/CORPS">CORPS</a></div>

						<ul>
							<li><a href="www.paris-esthetics.com/fr/Lipoaspiration">Lipoaspiration</a></li>
							<li><a href="www.paris-esthetics.com/fr/Abdominoplastie">Abdominoplastie</a></li>
							<li><a href="www.paris-esthetics.com/fr/Cruroplastie">Cruroplastie</a></li>
							<li><a href="www.paris-esthetics.com/fr/Brachioplastie_lifting_des_bras">Brachioplastie : lifting des bras</a></li>
							<li><a href="www.paris-esthetics.com/fr/Plastie_des_mollets">Plastie des mollets</a></li>
							<li><a href="www.paris-esthetics.com/fr/Plastie_des_fesses">Plastie des fesses</a></li>
							<li><a href="www.paris-esthetics.com/fr/Bodylifting">Bodylifting</a></li>
							<li><a href="www.paris-esthetics.com/fr/Plastie_des_cicatrices">Plastie des cicatrices</a></li>
						</ul>
					</div>
					<div class="by-item cat4">
						<div class="title"><a href="www.paris-esthetics.com/fr/Esthétique_Chirurgie_Intime">Esthétique/Chirurgie Intime</a></div>

						<ul>
							<li><a href="www.paris-esthetics.com/fr/Injection_de_toxine_botulique">Injection de toxine botulique</a></li>
							<li><a href="www.paris-esthetics.com/fr/Acide_Hyaluronique">Acide Hyaluronique</a></li>
							<li><a href="www.paris-esthetics.com/fr/Nymphoplastie">Nymphoplastie</a></li>
							<li><a href="www.paris-esthetics.com/fr/Lipofilling">Lipofilling</a></li>
							<li><a href="www.paris-esthetics.com/fr/Transsexualisme_homme_femme">Transsexualisme homme-femme</a></li>
						</ul>
					</div>
				</div>
			</div>  

			
			<section id="all" class="block-max-width clearfix">
				
				<div class="clearfix bordered-title" >
					<div class="bordered-title-inner">PRIX</div>
					<div class="title-border"></div>
				</div>
				
				<div class="content-box clearfix">
					<div class="content-txt">
						<span style="font-size: 14pt;"><em><strong></strong></em></span><strong>Consultation</strong><br>
						Le prix de la première consultation est de 23 euros à 80 euros.<br><br>
				
						<strong>Intervention</strong><br>
						Le prix de l'intervention inclut les frais du bloc opératoire, de la clinique, du matériel implantable éventuel et du suivi post-opératoire pendant un mois. Les tarifs varient en fonction du lieu de l'intervention, du choix d'une chambre individuelle ou double, du temps opératoire nécessaire, de la difficulté technique de l'intervention, du type d'anesthésie et des honoraires de l'anesthésiste.<br><br>
				
						Tarifs des interventions non prises en charge par la sécurité sociale<br><br>
				
						<table border="2" align="left" style="border: 2px solid #446abb;">
							<thead>
								<tr>
									<th><strong>POITRINE</strong></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Augmentation mammaire</td><td>3 500 - 4 500 euros</td></tr>
								<tr><td>Ptose mammaire ou réduction mammaire non pris en charge</td><td>3 500 - 4 500 euros</td></tr>
								<tr><td>Plastie avec implant (plastie prothèse)</td><td>4 700 - 5 500 euros</td></tr>
								<tr><td>Asymétrie mammaire</td><td>3 500 - 4 200 euros</td></tr>
								<tr><td>Mammelon invaginé</td><td>1 000 - 1 200 euros</td></tr>
								<tr><td>Lipofilling mammaire</td><td>4 800 - 7 500 euros</td></tr>
								<tr><td>Cure de gynécomastie</td><td>3 000 - 3 800 euros</td></tr>
							</tbody>
						</table>
				
						<table border="2" align="center" style="border: 2px solid #446abb;">
							<thead>
								<tr>
									<th><strong>SILHOUETTE</strong></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Lipoaspiration sous anesthésie générale (une zone)</td><td>1 500 - 2 000 euros</td></tr>
								<tr><td>Lipoaspiration sous anesthésie locale</td><td>1 000 - 1 500 euros</td></tr>
								<tr><td>Abdominoplastie</td><td>4 200 - 4 500 euros</td></tr>
								<tr><td>Bodylifting</td><td>6 500 - 7 000 euros</td></tr>
								<tr><td>Lifting des cuisses</td><td>4 000 - 4 500 euros</td></tr>
								<tr><td>Plastie brachiale</td><td>3 500 - 3 750 euros</td></tr>
								<tr><td>Prothèse des mollets</td><td>3 500 - 4 000 euros</td></tr>
								<tr><td>Lipofilling des fesses</td><td>3 500 - 4 500 euros</td></tr>
								<tr><td>Implants des fesses</td><td>5 000 - 5 500 euros</td></tr>
								<tr><td>Lifting des fesses</td><td>3 500 - 4 000 euros</td></tr>
							</tbody>
						</table>
				
						<table border="2" align="left" style="border: 2px solid #446abb;">
							<thead>
								<tr>
									<th><strong>VISAGE</strong></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Blépharoplastie supérieure</td><td>1 500 euros</td></tr>
								<tr><td>Blépharoplastie inférieure</td><td>2 000 euros</td></tr>
								<tr><td>Blépharoplastie 4 paupières</td><td>3 000 euros</td></tr>
								<tr><td>Rhinoplastie</td><td>4 000 - 5 000 euros</td></tr>
								<tr><td>Lifting cervico-facial</td><td>4 500 - 5 500 euros</td></tr>
								<tr><td>Lifting centro-facial</td><td>4 000 - 4 500 euros</td></tr>
								<tr><td>Lifting temporal</td><td>3 500 - 4 500 euros</td></tr>
								<tr><td>Lifting du front</td><td>3 000 - 3 500 euros</td></tr>
								<tr><td>Lifting de la lèvre supérieure</td><td>1 800 - 2 250 euros</td></tr>
								<tr><td>Oreilles décollées</td><td>1 800 - 2 400 euros</td></tr>
								<tr><td>Double menton</td><td>1 500 - 2 000 euros</td></tr>
								<tr><td>Génioplastie</td><td>3 000 - 3 500 euros</td></tr>
								<tr><td>Lipofilling du visage</td><td>à partir de 1 700 €</td></tr>
								<tr><td>Implants capillaires</td><td>à partir de 2 200 €</td></tr>
							</tbody>
						</table>
				
						<table border="2" align="center" style="border: 2px solid #446abb;">
							<thead>
								<tr>
									<th><strong>CHIRURGIE INTIME</strong></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Nymphoplastie</td><td>1 500 - 2 500 euros</td></tr>
								<tr><td>Lipofilling des grandes lèvres</td><td>2 000 - 4 000 euros</td></tr>
								<tr><td>Lipoaspiration du mont Vénus</td><td>1 500 - 2 500 euros</td></tr>
								<tr><td>Rétrécissement vaginal</td><td>3 000 - 3 500 euros</td></tr>
								<tr><td>Pénoplastie d'élargissement et d'allongement</td><td>3 500 - 6 500 euros</td></tr>
								<tr><td>Lifting des bourses</td><td>3 000 - 3 500 euros</td></tr>
								<tr><td>Injection point G</td><td>à partir de 750 euros</td></tr>
							</tbody>
						</table>
				
						<table border="2" align="center" style="border: 2px solid #446abb;">
							<thead>
								<tr>
									<th><strong>MEDECINE ESTHETIQUE</strong></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Injection Acide Hyaluronique</td><td>à partir de 350 euros</td></tr>
								<tr><td>Injection Toxine Botulique (Botox®)</td><td>à partir de 350 euros</td></tr>
								<tr><td>Peeling superficiel</td><td>100 euros la séance</td></tr>
								<tr><td>Mesothérapie</td><td>100 euros la séance</td></tr>
							</tbody>
						</table>
					</div>
				</div>
				

				<div class=" side-block">
					<!--right right BEGIN-->
					<div class="plastic-surgery clearfix">

						<div class="clearfix bordered-title">
							<div class="bordered-title-inner">Plastic Surgery</div>
							<div class="title-border"></div>
						</div>

						<div class="clearfix">
							
							<div class="no-padding col-lg-12">
								<a href="../images/31434280459.png" class="by-surgery clearfix cat1">
									<div class="surgery-bg" style="background:url('../images/31434280459.png') no-repeat right top"></div>
									<p class="big-title"></p>
									<p class="small-title"></p>
								</a>
							</div>

							<div class="no-padding col-lg-12">
								<a href="www.paris-esthetics.com/fr/Chirurgie_du_regard" class="by-surgery clearfix cat1">
									<div class="surgery-bg" style="background:url('../images/41434280481.png') no-repeat right top"></div>
									<p class="big-title"></p>
									<p class="small-title"></p>
								</a>
							</div>

							<div class="no-padding col-lg-12">
								<a href="www.paris-esthetics.com/fr/Chirurgie_plastique_de_l_homme" class="by-surgery clearfix cat1">
									<div class="surgery-bg" style="background:url('../images/51434280499.png') no-repeat right top"></div>
									<p class="big-title"></p>
									<p class="small-title"></p>
								</a>
							</div>

							<div class="no-padding col-lg-12">
								<a href="www.paris-esthetics.com/fr/Chirurgie_après_amaigrissement" class="by-surgery clearfix cat1">
									<div class="surgery-bg" style="background:url('../images/61434280516.png') no-repeat right top"></div>
									<p class="big-title"></p>
									<p class="small-title"></p>
								</a>
							</div>
						</div>

					</div>


					<div class="ask-question clearfix hidden-sm">

						<div class="clearfix bordered-title">
							<div class="bordered-title-inner">QUESTION</div>
							<div class="title-border"></div>
						</div>

						<div class="clearfix">
									
							<div class="confidential clearfix">Cette information est confidentielle</div>

							<form action="www.paris-esthetics.com/fr/ACCUEIL_0" method="post" 
								enctype="multipart/form-data" id="contact_form" novalidate="novalidate" class="bv-form">

								<button type="submit" class="bv-hidden-submit"></button>

								<div class="form-group">
									<input type="text" name="name" placeholder="Votre NOM" class="form-control" value="" data-bv-notempty="true" data-bv-notempty-message="" data-bv-field="name">
									<small class="help-block" data-bv-validator="notEmpty" data-bv-for="name" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value
									</small>
								</div>
								
								<div class="form-group">
									<input type="text" name="email" placeholder="E-Mail" class="form-control" value="" data-bv-notempty="true" data-bv-notempty-message="" data-bv-field="email">
									<small class="help-block" data-bv-validator="notEmpty" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small>
								</div>
								
								<div class="form-group">
									<input type="text" name="phone" placeholder="Téléphone" class="form-control" value="" data-bv-notempty="true" data-bv-notempty-message="" data-bv-field="phone">
									<small class="help-block" data-bv-validator="notEmpty" data-bv-for="phone" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small>
								</div>
								
								<div class="form-group">
									<textarea name="message" placeholder="Poser votre question" class="form-control" data-bv-notempty="true" data-bv-notempty-message="" data-bv-field="message"></textarea>
									<small class="help-block" data-bv-validator="notEmpty" data-bv-for="message" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small>
								</div>
								
								<div class="checkbox">
									<label>
										<input type="checkbox" name="subscribe" value="1"> Abonnez-vous à la Newsletter
									</label>
								</div>

								<div class="clearfix">
									<button class="blue-button " type="submit" name="send">ENVOYER</button>
								</div>

							</form>

						</div>

					</div>




			</section>
		</div>

	</body>

</html>